<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>General</title>
        <title lang="de-DE">Allgemein</title>

        <component name="diga-info">
            <name>digaInfo</name>
        </component>

        <input-field type="bool">
            <name>logOnCacheHit</name>
            <label>Log onCacheHit</label>
            <label lang="de-DE">Logge onCacheHit</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>logOnCacheItemWritten</name>
            <label>Log onCacheItemWritten</label>
            <label lang="de-DE">Logge onCacheItemWritten</label>            
            <helpText>Listen to HttpCacheItemWrittenEvent and log each time a new Item is written to the cache</helpText>
            <helpText lang="de-DE">Überwachen des HttpCacheItemWrittenEvent und loggen jedes Mal, wenn ein neues Element in den Cache geschrieben wird</helpText>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>logTagsOnCacheItemWritten</name>
            <label>Log Tags onCacheItemWritten</label>
            <label lang="de-DE">Logge onCacheItemWritten</label>
            <helpText>Log which tags are used for the cache item</helpText>
            <helpText lang="de-DE">Protokollieren Sie, welche Tags für das Cache-Element verwendet werden</helpText>
            <defaultValue>false</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>logInvalidateCache</name>
            <label>Log InvalidateCache</label>
            <label lang="de-DE">Logge InvalidateCache</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>logHttpCacheGenerateKeyEvent</name>            
            <label>Log HttpCacheGenerateKeyEvent</label>
            <label lang="de-DE">Logge HttpCacheGenerateKeyEvent</label>
            <helpText>Listen to HttpCacheGenerateKeyEvent and log each time a new key is generated in CacheStore during lookup or bevore a item is written to the cache</helpText>
            <helpText lang="de-DE">Überwachen Sie HttpCacheGenerateKeyEvent und protokollieren Sie jedes Mal, wenn ein neuer Key im CacheStore während der Suche (lookup) oder vor dem Schreiben eines Cache Item generiert wird</helpText>
            <defaultValue>false</defaultValue>
        </input-field>        

        <input-field type="bool">
            <name>logCacheWarmup</name>
            <label>Log Cache Warmup URLs</label>
            <label lang="de-DE">Logge Cache Warmup SEO URLs</label>
            <defaultValue>false</defaultValue>
        </input-field>
        
        <input-field type="bool">
            <name>logSeoUrlsOnWarmUp</name>
            <label>Log Cache Warmup SEO URLs</label>
            <label lang="de-DE">Logge Cache Warmup SEO URLs</label>
            <helpText>Will log all possible seo urls which should be warmed up by the cache warmer</helpText>
            <helpText lang="de-DE">Loggt alle möglichen SEO-Urls, die durch den Cache-Warmer aufgewärmt werden sollen.</helpText>
            <defaultValue>false</defaultValue>
        </input-field>

        <input-field type="multi-select">
            <name>selectedCacheTagEvents</name>
            <label>Select which Cache Tag Event should be logged</label>
            <label  lang="de-DE">Wählen Sie aus, welches Cache-Tag-Ereignis protokolliert werden soll</label>
            <options>
                <option>
                    <id>PaymentMethodRouteCacheTagsEvent</id>
                    <name>PaymentMethodRouteCacheTagsEvent</name>
                </option>
                <option>
                    <id>ShippingMethodRouteCacheTagsEvent</id>
                    <name>ShippingMethodRouteCacheTagsEvent</name>
                </option>
                <option>
                    <id>CategoryRouteCacheTagsEvent</id>
                    <name>CategoryRouteCacheTagsEvent</name>
                </option>
                <option>
                    <id>NavigationRouteCacheTagsEvent</id>
                    <name>NavigationRouteCacheTagsEvent</name>
                </option>
                <option>
                    <id>LandingPageRouteCacheTagsEvent</id>
                    <name>LandingPageRouteCacheTagsEvent</name>
                </option>
                <option>
                    <id>CrossSellingRouteCacheTagsEvent</id>
                    <name>CrossSellingRouteCacheTagsEvent</name>
                </option>
                <option>
                    <id>ProductDetailRouteCacheTagsEvent</id>
                    <name>ProductDetailRouteCacheTagsEvent</name>
                </option>
                <option>
                    <id>ProductListingRouteCacheTagsEvent</id>
                    <name>ProductListingRouteCacheTagsEvent</name>
                </option>
                <option>
                    <id>ProductSearchRouteCacheTagsEvent</id>
                    <name>ProductSearchRouteCacheTagsEvent</name>
                </option>
                <option>
                    <id>ProductSuggestRouteCacheTagsEvent</id>
                    <name>ProductSuggestRouteCacheTagsEvent</name>
                </option>
                <option>
                    <id>SitemapRouteCacheTagsEvent</id>
                    <name>SitemapRouteCacheTagsEvent</name>
                </option>
                <option>
                    <id>StoreApiRouteCacheTagsEvent</id>
                    <name>StoreApiRouteCacheTagsEvent</name>
                </option>
                <option>
                    <id>CountryRouteCacheTagsEvent</id>
                    <name>CountryRouteCacheTagsEvent</name>
                </option>
                <option>
                    <id>CountryStateRouteCacheTagsEvent</id>
                    <name>CountryStateRouteCacheTagsEvent</name>
                </option>
                <option>
                    <id>CurrencyRouteCacheTagsEvent</id>
                    <name>CurrencyRouteCacheTagsEvent</name>
                </option>
                <option>
                    <id>LanguageRouteCacheTagsEvent</id>
                    <name>LanguageRouteCacheTagsEvent</name>
                </option>
                <option>
                    <id>SalutationRouteCacheTagsEvent</id>
                    <name>SalutationRouteCacheTagsEvent</name>
                </option>
            </options>
            <defaultValue>["NavigationRouteCacheTagsEvent", "CategoryRouteCacheTagsEvent", "LandingPageRouteCacheTagsEvent", "ProductDetailRouteCacheTagsEvent", "ProductListingRouteCacheTagsEvent"]</defaultValue>
        </input-field>

        <input-field type="multi-select">
            <name>selectedCacheKeyEvents</name>
            <label>Select which Cache Key Event should be logged</label>
            <label lang="de-DE">Wählen Sie aus, welches Cache-Key-Ereignis protokolliert werden soll</label>
            <options>
                <option>
                    <id>PaymentMethodRouteCacheKeyEvent</id>
                    <name>PaymentMethodRouteCacheKeyEvent</name>
                </option>
                <option>
                    <id>ShippingMethodRouteCacheKeyEvent</id>
                    <name>ShippingMethodRouteCacheKeyEvent</name>
                </option>
                <option>
                    <id>CategoryRouteCacheKeyEvent</id>
                    <name>CategoryRouteCacheKeyEvent</name>
                </option>
                <option>
                    <id>NavigationRouteCacheKeyEvent</id>
                    <name>NavigationRouteCacheKeyEvent</name>
                </option>
                <option>
                    <id>LandingPageRouteCacheKeyEvent</id>
                    <name>LandingPageRouteCacheKeyEvent</name>
                </option>
                <option>
                    <id>CrossSellingRouteCacheKeyEvent</id>
                    <name>CrossSellingRouteCacheKeyEvent</name>
                </option>
                <option>
                    <id>ProductDetailRouteCacheKeyEvent</id>
                    <name>ProductDetailRouteCacheKeyEvent</name>
                </option>
                <option>
                    <id>ProductListingRouteCacheKeyEvent</id>
                    <name>ProductListingRouteCacheKeyEvent</name>
                </option>
                <option>
                    <id>ProductSearchRouteCacheKeyEvent</id>
                    <name>ProductSearchRouteCacheKeyEvent</name>
                </option>
                <option>
                    <id>ProductSuggestRouteCacheKeyEvent</id>
                    <name>ProductSuggestRouteCacheKeyEvent</name>
                </option>
                <option>
                    <id>SitemapRouteCacheKeyEvent</id>
                    <name>SitemapRouteCacheKeyEvent</name>
                </option>
                <option>
                    <id>StoreApiRouteCacheKeyEvent</id>
                    <name>StoreApiRouteCacheKeyEvent</name>
                </option>
                <option>
                    <id>CountryRouteCacheKeyEvent</id>
                    <name>CountryRouteCacheKeyEvent</name>
                </option>
                <option>
                    <id>CountryStateRouteCacheKeyEvent</id>
                    <name>CountryStateRouteCacheKeyEvent</name>
                </option>
                <option>
                    <id>CurrencyRouteCacheKeyEvent</id>
                    <name>CurrencyRouteCacheKeyEvent</name>
                </option>
                <option>
                    <id>LanguageRouteCacheKeyEvent</id>
                    <name>LanguageRouteCacheKeyEvent</name>
                </option>
                <option>
                    <id>SalutationRouteCacheKeyEvent</id>
                    <name>SalutationRouteCacheKeyEvent</name>
                </option>
            </options>
            <defaultValue>["NavigationRouteCacheKeyEvent", "CategoryRouteCacheKeyEvent", "LandingPageRouteCacheKeyEvent", "ProductDetailRouteCacheKeyEvent", "ProductListingRouteCacheKeyEvent"]</defaultValue>
        </input-field>


    </card>
</config>