<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>General</title>
        <title lang="de-DE">Allgemein</title>

        <component name="diga-info">
            <name>digaInfo</name>
        </component>

        <input-field type="bool">
            <name>logFullUri</name>
            <label>Log full url</label>
            <label lang="de-DE">Logge vollständige URL</label>
            <helpText>Log full URL including schema and host</helpText>
            <helpText lang="de-DE">Protokollieren Sie die vollständige URL einschließlich Schema und Host</helpText>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>logOnCacheHit</name>
            <label>Log onCacheHit</label>
            <label lang="de-DE">Logge onCacheHit</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>logOnCacheItemWritten</name>
            <label>Log onCacheItemWritten</label>
            <label lang="de-DE">Logge onCacheItemWritten</label>            
            <helpText>Listen to HttpCacheItemWrittenEvent and log each time a new Item is written to the cache</helpText>
            <helpText lang="de-DE">Überwachen des HttpCacheItemWrittenEvent und loggen jedes Mal, wenn ein neues Element in den Cache geschrieben wird</helpText>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>logTagsOnCacheItemWritten</name>
            <label>Log Tags onCacheItemWritten</label>
            <label lang="de-DE">Logge onCacheItemTagWritten</label>
            <helpText>Log which tags are used for the cache item</helpText>
            <helpText lang="de-DE">Protokollieren Sie, welche Tags für das Cache-Element verwendet werden</helpText>
            <defaultValue>false</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>logInvalidateCache</name>
            <label>Log InvalidateCache</label>
            <label lang="de-DE">Logge InvalidateCache</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>logHttpCacheGenerateKeyEvent</name>            
            <label>Log HttpCacheGenerateKeyEvent</label>
            <label lang="de-DE">Logge HttpCacheGenerateKeyEvent</label>
            <helpText>Listen to HttpCacheGenerateKeyEvent and log each time a new key is generated in CacheStore during lookup or before an item is written to the cache</helpText>
            <helpText lang="de-DE">Überwachen Sie HttpCacheGenerateKeyEvent und protokollieren Sie jedes Mal, wenn ein neuer Key im CacheStore während der Suche (lookup) oder vor dem Schreiben eines Cache Item generiert wird</helpText>
            <defaultValue>false</defaultValue>
        </input-field>  

        <input-field type="bool">
            <name>logInvalidateProductCache</name>
            <label>Log InvalidateProductCache</label>
            <label lang="de-DE">Logge InvalidateProductCache</label>
            <helpText>Log when product cache is invalidated (InvalidateProductCache event)</helpText>
            <helpText lang="de-DE">Protokolliert, wenn der Produkt-Cache invalidiert wird (InvalidateProductCache Event)</helpText>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="single-select">
            <name>loggingOutput</name>
            <label>Logging output</label>
            <label lang="de-DE">Logausgabe</label>
            <defaultValue>shopwarelog</defaultValue>
            <options>
                <option>
                    <id>shopwarelog</id>
                    <name>Log with Shopware logger</name>
                    <name lang="de-DE">Shopware logger verwenden</name>
                </option>
                <option>
                    <id>cachehelperlog</id>
                    <name>Log with Cachehelper logger</name>
                    <name lang="de-DE">Cachehelper Logger verwenden</name>
                </option>
            </options>
        </input-field>
    </card>
</config>